.conteiner{
    background-color: var(--color__blanco);
    display: flex;
    flex-wrap: wrap;
}
.banner {
    display: flex;
    margin: 4rem;
    border-radius: 5em 0 5em 0;
    background-color: var(--color__black);
    color: var(--color__rosa);
    flex-wrap: wrap;
    font-family: var(--font__principal);
}

.banner__caja{
    width: 60%;
    margin: 2rem;
}
.banner__titulo{
    width: 80%;
    margin-left: 2rem;
    text-transform: uppercase;
}
.banner__descripcion{
    width: 80%;
    margin-left: 2rem;
    font-family: var(--font__principal);
}
.banner__foto{
    background-image:url(../../assets/img/foto-perfil.jpeg);
    height: 300px;
    width: 300px;
    background-size: cover;
    border-radius: 100%;
    margin:  1rem;
    
}

.banner__lista{
    width: 80%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem;

}

.banner__item:hover{
    text-decoration: underline;
}

.banner__link{
    display: flex;
    color: var(--color__rosa);
    text-decoration: none;
    align-items: center;
}
.banner__imagen{
    display: flex;
    width: 2rem;
    margin-right: 0.25rem;
}

/* Layout Celulares */
@media screen and (min-width: 320px) and (max-width: 700px) {
    .banner{
        margin: 1rem;
        justify-content: center;
    }
    .banner__titulo{
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        margin-left: 0;
        margin: 1rem;
    }
    .banner__descripcion{
        width: 100%;
        margin-left: 0;
        margin-right: 1rem;
        text-align: center;
    }
    .banner__caja{
        width: 100%;
        margin: 1rem 1rem 0 1rem;
    }
    .banner__lista{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .banner__item{
        margin-bottom: 1rem;
    }
} 
/* Layout Tablet */
@media only screen and (min-width: 700px) and (max-width: 1500px){
    .banner{
        justify-content: center;
    }
    .banner__titulo{
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        margin: 1rem;
        margin-left: 1rem;

    }
    .banner__caja{
        justify-content: center;
        width: 100%;
    }

    .banner__descripcion{
        width: 100%;
        margin: 2rem;
        margin: 2rem;
        margin-left: 2rem;
    }

    .banner__lista{
        width: 100%;
        
        align-items: center;
    }
    .banner__item{
        margin-bottom: 1rem;
    }
    .banner__foto{
        height: 200px;
        width: 200px;
    }
}