:root{
    --color__rosa: #E0CED1;
    --color__black: #000000;
    --color__balco: #fdf4f4;
    --font__principal: 'Quicksand', sans-serif;
    --color__crema:  #f8f2eb;
    --color__shadow: #b3b1b1;
}


