.formacion{
    font-family: var(--font__principal);
    text-align: center;
    padding: 1rem;
}

.formacion__titulo{
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.formacion__imagen{
    margin-top: 1rem;
    border: 1px solid;
    padding: 1rem;
    width: 250px;
    background-color: var(--color__rosa);
}

.formacion__imagen:hover{
    box-shadow: 4px 4px 4px #CCC;
}

.formacion__fecha{
    color: #636663;
}