.hobbies{
    font-family: var(--font__principal);
    padding: 1rem;
}
.hobbies__titulo{
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0 1rem 0;
}
.hobbies__box{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hobbie{
    text-align: center;
    border: 1px solid;
    padding: 3rem;
    margin: 0 2rem 2rem 2rem;
    width: 100px;
    height: 100px;
    background-color: var(--color__rosa);
}

.hobbie:hover{
    box-shadow: 4px 4px 4px #CCC;
}
.hobbie__imagen{
    width: 3rem;
    margin: 0.5rem;
}