.rodapie{
    display: flex;
    background-color: var(--color__rosa);
    font-family: var(--font__principal);
    justify-content: center;
    padding: 1rem;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2){

    .rodapie{
        padding: 2rem;
    }

}