.rodapie{
    display: flex;
    background-color: var(--color__rosa);
    font-family: var(--font__principal);
    justify-content: center;
    padding: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 700px) {

    .rodapie{
        padding: 2rem;
    }

}