.skills{
    font-family: var(--font__principal);
    padding: 1rem;
}
.skills__titulo{
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.skills__box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.skill{
    text-align: center;
    border: 1px solid;
    padding: 3rem;
    margin: 0 2rem 2rem 2rem;
    width: 100px;
    height: 100px;
    background-color: var(--color__rosa);
    box-shadow: #cccccc 2px 2px 2px;
    transition: 500ms;
}

.skill:hover{
    box-shadow: 4px 4px 4px var(--color__shadow);
    background-color: var(--color__crema);
}

.skill__logo{
    width: 3rem;
    margin: 0.5rem;
}