.sobre{
    text-align: center;
    font-family: var(--font__principal);
    padding: 2rem 7rem 2rem 7rem ;
    background-color: var(--color__crema);
}
.sobre__titulo{
    text-transform: uppercase;
    margin: 1rem 0 1rem 0;
}
.sobre__descripcion{
    font-size: 1.25rem;

}

/* Layout Celulares */
@media only screen and (min-device-width: 320px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2){
    .sobre{
        padding: 2rem;
    }
    .sobre__descripcion{
        padding: 1rem;
    }
}