.volver{
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    
}
.volver__flecha{
    border-radius: 100%;
    width: 70px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: 5ms;
}
.volver__flecha:hover{
    width: 75px;
}

/* Layout */
@media only screen and (min-device-width: 320px) and (max-device-width: 700px) and (-webkit-min-device-pixel-ratio: 2){
    .volver__flecha{
        width: 3rem;
    }
    .volver__flecha:hover{
        width: 3rem;
    }
}