.volver{
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
    
}
.volver__flecha{
    border-radius: 100%;
    width: 70px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: 5ms;
}
.volver__flecha:hover{
    width: 75px;
}

/* Layout Celulares */
@media  screen and (min-width: 320px) and (max-width: 700px) {
    .volver__flecha{
        width: 3rem;
        right: 5px;
    }
    .volver__flecha:hover{
        width: 3rem;
    }
}